<style type="text/css">
  
  #container {  margin:0 auto; background:#fff; height:100%;}
  #tableContainer { }

  table.history { width:100%; padding:0; font-size:11px;}
  table.history th { text-align: left; color: #ffffff; padding:.5em .25em .5em 1em; color:#444; font-size:13px;}
  table.history tr.tableEven { background:#e5e5e5; }
  table.history td { padding:.25em; padding:.5em .25em .5em 1em; width:15%; }
  
  table.history th.tableDate { width:10% }
  table.history td.tableDate { width:10% }
  table.history th.tableVenue { width:35%; border-left: 1px solid #ccc; }
  table.history td.tableVenue { width:35%; border-left: 1px solid #ccc; }
  table.history th.tableLocation { width:15%; border-left: 1px solid #ccc;}
  table.history td.tableLocation { width:15%; border-left: 1px solid #ccc;}
  table.history th.tableContributions { width:30%; border-left: 1px solid #ccc; }
  table.history td.tableAmount { width:10%; border-left: 1px solid #ccc; }
  table.history td.tableContributions { width:20% }

  table.history td.tablePostToCheckin { width:9%; text-align: center; }
  
</style>

<label id="text4"><strong>CHECK-INS&nbsp;&nbsp;&nbsp;&nbsp;</strong></label>
<%= link_to 'Refresh', :controller => 'users', :action => 'refresh_friends_checkins' %>
<br><div class="separator"></div><br><br>
<% if !checkins.empty? %>
  <div id="container">
    <div id="tableContainer">
      <table class="history" cellpadding="0" cellspacing="0">
        
        <thead>
          <tr>
            <th class="tableDate">Friend</th>
            <th class="tableVenue">Last Check-In</th>
            <th class="tableLocation">Company</th>
            <th class="tableContributions" colspan="3">Campaign Contributions</th>
          </tr>
        </thead>
    
        <tbody>
          <% even_flag = true %>
          <% checkins.each do |checkin| %>
          
            <% company = checkin[:company] %>
            <tr class="<%= even_flag ? 'tableEven' : 'tableOdd' %>">
              <td class="tableDate">
                <%= link_to "#{ checkin.first_name } #{ checkin.last_name }", :controller => 'users', :action => 'friend', :foursquare_id => checkin.foursquare_user_guid %>
              </td>
              <td class="tableVenue">
                
                <% if checkin.venue %>
                  <%= checkin.venue.name %>
                <% else %>
                  <%= checkin.venue_name %>
                <% end %>
                
                <% if checkin.company %>
                  <%= render :partial => 'companies/partisan_rating', :locals => { :company => checkin.company } %>
                <% end %>

              </td>
              <td class="tableLocation">
                <% if checkin.company %>
                  <%= link_to "#{ checkin.company.name }", { :controller => 'companies', :action => 'show', :url_slug => checkin.company.url_slug }, {:style=>'color:#555555; font-weight:bold;'} %>               
                <% end %>
              </td>
              <td class="tableAmount">
                <% if checkin.company %>
                  <label style='font-weight:bold;'><%= number_to_currency( checkin.company.party_breakdown.total_amount, :precision => 0 )  %></label>
                <% else %>
                  <label id="text5">(No data)</label>
                <% end %>
              </td>
              <td class="tableContributions">
                <% if checkin.company %>
                  <%= render :partial => 'users/contributions', :locals => { :company => checkin.company } %>
                <% end %>
              </td>
              <td class="tablePostToCheckin">
                <% if checkin.company and checkin.company.is_partisan? %>
                  <%= link_to 'Post Comment', { :controller => 'users', :action => 'post_comment', :checkin_id => checkin.foursquare_checkin_guid, :first_name => checkin.first_name, :venue_name => checkin.venue ? checkin.venue.name : checkin.venue_name, :company => checkin.company.url_slug}, 
                      {:style=>'color:#555555; font-weight:bold;'} %>               
                <% end %>
              </td>
            </tr>
            
            <% even_flag = !even_flag %>

          <% end %>

        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <label style="font-size:1.1em; color:#555555;">Your friends haven't checked-in yet.</label>
<% end %>