<div id="main">
  <label id="text3"></label>
  <% form_tag({:action => 'create_comment'}, {:method => 'post'}) do %>
    <div id="errors"><label><% if @errors %><%= @errors %><br><br><% end %></label></div>
    <label id="text35">Post a comment to <%= @first_name %>'s check-in at <%= @venue_name %>:</label>
    <div id="spacer_3"></div>
    <textarea name="comment" id="comment" style='width: 400px;	height: 60px;	border: 3px solid #cccccc;	padding: 5px;	font-family: Tahoma, sans-serif; '><%= @company.comment_text %></textarea>
    <input type="hidden" name="checkin_id" value="<%= @checkin_id %>">
    <input type="hidden" name="first_name" value="<%= @first_name %>">
    <input type="hidden" name="venue_name" value="<%= @venue_name %>">
    <input type="hidden" name="company" value="<%= @company.url_slug %>">
    <div id="spacer_3"></div>
    <label id="text4" ><%= submit_tag ' Post to Foursquare ' %></label>
    <label id="text4">&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Cancel', { :controller => 'users', :action => 'friends_checkins' }, { :style => 'font-weight: normal;' } %></label>
  <% end %>
</div>