<% content_for :head do %>
	<%= javascript_include_tag 'us_states' %>
	<%= javascript_include_tag 'raphael-pp' %>
	<%= javascript_include_tag 'graphael' %>
	<%= javascript_include_tag 'gpie' %>
<% end %>
<div id="main">
  <div>
    <div style="float: left;">
      <%= image_tag("/images/iphone.png", :title => 'GeoPollster Screenshot' ) %>
    </div>
    <div style="width: 500px; padding-top: 10px; padding-left: 30px; border: 0px solid #D168AA; float: left;">
      <label id="text35">
        Do the places you go support Democrats or Republicans? Sign up to receive location-based campaign contribution alerts.
        <div style="padding-top: 15px;"></div>
        <%= image_tag("/images/democratic.png", :title => 'Democrats' ) %>
        <%= image_tag("/images/republican.png", :title => 'Republicans' ) %>
        <%= image_tag("/images/open_secrets2.gif", :title => 'OpenSecrets.org', :style => 'padding-bottom: 30px;') %>
        <div style="padding-top: 40px;"></div>
        GeoPollster connects campaign finance data to Foursquare. GeoPollster is easy to use:
      </label>
      <label id="text4">
        <div style="padding-top: 15px;"></div>
        <ol style="padding-left: 30px;">
          <li>
            <p>Connect GeoPollster to your Foursquare account.</p>
          </li>
          <div style="padding-top: 15px;"></div>
          <li>
            <p>Check-in using Foursquare. We'll alert you if the venue has made campaign contributions.</p>
          </li>
          <div style="padding-top: 15px;"></div>
          <li>
            <p>Earn Partisan Points and compete with others.</p>
          </li>
        </ol>
      </label>
      <div style="padding-top: 30px;"></div>
      <%= link_to 'Sign Up', { :controller => 'oauth', :action => 'start' }, { :class => 'signupButton', :title=>'Sign Up' } %>
    </div>
  </div>
  <div class="clear_floats"></div>
  <br><br>
  <div style="float: left;"><label id="text2"><strong>Location-Based Polling</strong></label></div>
  <br><div class="separator"></div><br>
  <div>
    <div style="width: 450px; float: left; padding-right: 40px;">
      <label style="font-size:1.45em; color:#555555;">
        Cast your vote when you check-in on Foursquare. It's easy! When you sign up, choose which party you want to vote for. Each time you check-in, GeoPollster will anonymously tally your vote.
        &nbsp;<%= link_to 'Go to Polling home page', { :controller => 'polling', :action => 'show' }, { :style => "font-weight: normal;" } %>
      </label>
    </div>
    <div style="float: left;">
      <% @parties.each do |party| %>
        <%= link_to image_tag( party.icon_url, :size => "57x57", :title => party.official_name, :alt => party.official_name ), 
            :controller => 'parties', :action => 'show', :url_slug => party.url_slug %>
      <% end %>
    </div>
  </div>
  <div class="clear_floats"></div>
  <br><br>
  <div id="map" style="margin-left:-70px;"></div>
  <div id="bottompane" style="height:257px;"></div>
</div>
<%= javascript_tag render( :partial => 'map_click.rjs') %>
<% controller.response.content_type = Mime::HTML %>